.login-footer {
  animation: moveFromBottom .5s ease-out;
  animation-fill-mode: backwards;
  background-color: #fff;
}

.footer-love {
  width: 100%;
  text-align: center;
}

.link {
  text-decoration: underline;
}