.login-div {
  background-image: /*linear-gradient(to right bottom, #535c689a,#3339459a),*/
  url(../../assets/login_bg.jpg);
  background-size: cover;
  background-position: top;
  /*clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);*/
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.input-container {
  width: 550px;
  height: 370px;
  /*background-color: #ffffff;*/
  border-radius: 5px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #777777;
  box-shadow: 0 0 15px 0 rgba(219, 201, 201, 0.5);
  transition: all;
  animation: moveFromTop 1s ease-out;
  backdrop-filter: blur(5px);
}

.input-container:hover {
  box-shadow: 0 0 50px 0 rgba(219, 201, 201, 0.5);
  transition: all .3s;
}

.signin-btn {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}

.signin-btn:hover {
  box-shadow: 3px 3px 10px rgba(219, 201, 201, 0.5);;
  transition: all .3s;
}

.input-grp:hover {
  box-shadow: 3px 3px 10px rgba(219, 201, 201, 0.5);
  transition: all .3s;
}

@keyframes moveFromTop {
  0% {
    /*opacity: 0;*/
    backdrop-filter: blur(0px);
    /*transform: translateY(-200px);*/
  }

  100% {
    /*opacity: 1;*/
    backdrop-filter: blur(5px);
    /*transform: translateY(0);*/
  }
}
