.picker-date {
    border: 1px solid #BB2CD9;
    border-radius: 8px;
}

.input-picker:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
    transition: all .5s;
}

.filter-btn:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
    transition: all .5s;
}

.filter-btn {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
}

.attendence-table {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .5);
    border-radius: 10px;
}