* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content-holder {
  background-color: #eaf0f1;
}

.shimmer-effect {
  animation: shimmer 5s infinite linear;
  background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
  background-size: 100% 100%;
}

@keyframes shimmer {
  0% {
    background-position: -1500px 0;
  }
  100% {
    background-position: 1500px 0;
  }
}
